#gallery-metabox-list li {
  float: left;
  text-align: center;
  margin: 5px 5px 5px 0;
  cursor: move;
  border:1px solid #ccc;
  width:140px;
  position:relative;
  background:#eee;
}


#gallery-metabox-list li .image-preview {
  max-width:138px;
}


#gallery-metabox-list li .controls {
  position:absolute;
  top:0;
  right:0;
  background:#fff;
  font-size:30px;
  line-height: 25px;
}


#gallery-metabox-list li .controls .remove-image {
  display:inline-block;
  color:red;
  text-decoration:none;
}





/* tabbed  metaboxes */
.clear {
  clear:both;
}
.apg-album-tab {
  clear: both;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.apg-album-tab .apg-album-tab-nav {
  clear: both;
}

.apg-album-tab .apg-album-tab-nav ul {
  float:left;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-bottom:0;
}

.apg-album-tab .apg-album-tab-nav li{
  float: left;
  padding:0 2px;
  margin:0;
}

.apg-album-tab .apg-album-tab-nav li .apg-album-tab-nav-item {
  line-height: 40px;
  padding:0 20px;
  text-decoration: none;
  color:#eee;
  background:#333;
  border:1px solid #333;
  border-bottom:none;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  transition: all 0.2s linear;
  font-size: 14px;
  font-weight: 400;
}

.apg-album-tab .apg-album-tab-nav li .apg-album-tab-nav-item:hover,
.apg-album-tab .apg-album-tab-nav li.active .apg-album-tab-nav-item {
  background: #eee;
  color:#333;
  border-color: #ccc;
}

.apg-album-tab .apg-album-tab-content {
  padding:20px;
  border:1px solid #ccc;
  border-top:none;
  background:#eee;
}

.apg-album-tab .apg-album-tab-content .tab-content {
  display: none;
}

.apg-album-tab .apg-album-tab-content .tab-content.active {
  display: block;
}



/* cover image */
#cover-image-holder {
  width:100%;
  height:auto;
  min-height:300px;
  background:#fff;
  text-align:center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#cover-image-holder .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



/*layout*/
.layout-types label.apg_layout_label {
  display:block;
  width:29%;
  text-align:center;
  float:left;
  border:5px solid #eee;
  margin:5px;
  padding-top:10px;
  padding-bottom:10px;
}

.layout-types label.apg_layout_label img {
  width:120px;
}

input[name="apg_layout"] {
  display:none;
}

input[name="apg_layout"]:checked + label {
  border-color:red;
  background: #fff;
}
